.topnav{
    position: sticky;
    background: black;
    color: white;
    padding-right: 40px;
}
span{
    color: white;
    
}


#cart{
    padding-left: 5px;
    display: inline;
}

#dropdownMenuLink{
    margin-right: 2px;
}
p{
    font-size: 15px;
    font-weight: 700;
}
// #items{
//     width: 200px;
//     margin-left: 15px;
// }