<div class="container">
    <div *ngIf="things.length == 0" id="empty">
        <img src="https://img.icons8.com/doodle/48/000000/empty-box.png">
        <h1>Shopping Cart is empty</h1>
    </div>
        <div class="row">
            <div id="coloumn" class="col-12 mt-3" *ngFor="let thing of things;let i=index" >
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="img-1" src="{{thing.image}}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{thing.name}}</h4>
                            <p class="card-text">₹{{thing.price}}</p>
                            <p class="card-text">Quantity {{thing.count}}</p>
                            <button type="button" class="btn btn-outline-danger" (click)=remove(i)>Remove</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>