.card{
    border: none;
}
.card-body{
    // border: 2px solid black;
    padding: 10px;
    #img-1{
    height: 225px;
    object-fit: contain;
    }
}
#stretch{
    height: 250px;
    margin-bottom: 10px;
}

.card-body{
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    h5{
        margin-top: 10px;
        margin-bottom: 0;

    }
}
.btn-outline-warning{
    padding: 0;
    height: 30px;
    width: 110px;
}
p{
    font-family: inherit;
    font-weight: 500;
    padding: 0px;
}