div{
    margin-top: 80px;
    text-align: center;
    #input{
        font-size: 20px;
        width: 400px;
        height: 30px;
    }
    #btn{
        width: 90px;
        height: 35px;
        padding: 0px
    }
}