#topnav{
    height: 50px;
    background: black;
    #home{
        // border: 1px  red solid;
         color: white;
        height: 50px;
        font-size: 24px;
    }
    #list{
        margin-top: 14px;
        margin-left: 5px;
        color: white;
        // border: 1px solid red;
        width: 60px;
        height: 100%;
        font-size: 20px
    }
}