<!-- <ul>
    <li>Home</li>
    <li>About</li>
    <li>Careers</li>
    <li>Login</li>
</ul> -->

<nav class="navbar navbar-light bg-faded justify-content-left flex-nowrap flex-row"id="topnav">
    <a class="navbar-brand"  href="#" id="home">Home</a>
    <ul class="navbar-nav mr-auto" id="ul-2">
        <li>
          <div class="input-group mb-3" id="div-2">
            <li class="nav-item active">
                <a class="nav-link" href="#" id="list">Menu<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" id="list">About<span class="sr-only">(current)</span></a>
              </li>
          </div>                            
        </li>
      </ul>
  <ul class="nav navbar-nav flex-row" id="ul-3">
    <li class="nav-item"><button class="btn btn-dark login-btn" data-toggle="modal" data-target="#exampleModalCenter" type="submit">LOGIN</button></li>
  </ul>
</nav>